
.header{
    background-color: black;
    height:100vh;
    background-size:cover;
    background-position:center;
}
.nav-menu {
    background: -webkit-linear-gradient(left, hsl(167, 52%, 46%) 39%, hsl(208, 77%, 49%) 100%);
    text-align: center;
}

.nav-menu {
    float: center;
    list-style:none;
    margin-right:5px;
}
.nav-menu li {
    display: inline-block;
}

.nav-menu li a{
    color:black;
    text-decoration: none;
    padding:5px 20px; 
    font-family:"Verdana", "sans-serif";
    font-size:20px;
}

.homebtn a{
    border: 1px solid grey;
    background-color: white;
}

.nav-menu li a:hover {
    border:1px solid grey;
    background-color: white;
}

/* Dropdown Button */
.dropbtn {
    background: -webkit-linear-gradient(left, hsl(167, 43%, 62%) 80%, hsl(208, 54%, 54%) 100%);
    color: black;
    padding: 5px 20px;
    font-size: 20px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: darkcyan;}
  
  .logo img {
    float:right;
    width: 100px;
    height: auto;
    }

    * {box-sizing:border-box}

    
    
    table {
        display: table;
        border-collapse: separate;
        border-spacing: 40px;
        border-color: yellow;
      }


      .large-header {
        position: relative;
        width: 100%;
        background: rgb(17, 77, 134);
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        z-index: 1;
     }
     
     .demo .large-header {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
     }
     
     .main-title {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #F9F1E9;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
     }
     
     .demo .main-title {
        text-transform: uppercase;
        font-size: 4.2em;
        letter-spacing: 0.1em;
     }
     
     .main-title .thin {
        font-weight: 200;
     }
     
     @media only screen and (max-width: 768px) {
        .demo .main-title {
           font-size: 3em;
        }
     }


     *{
         box-sizing: border-box;
     }

     .column{
         float:left;
         width:35%;
         padding:5px;

     }

     .row::after{
         content: "";
         display:table;
         clear: both;
     }


     .abtitle {
        position: absolute;
        margin: 0;
        color: blanchedalmond;
        top: 50%;
        left: 50%;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6cm;
        -webkit-transform: translate3d(-50%, -50%, 20);
        transform: translate3d(-50%, -50%, 0);
     }

#try{
    margin:0 auto;
}